{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block
stylesheets %}
	{{ encore_entry_link_tags("app") }}
	<link rel="stylesheet" href="{{ asset('./styles/personal.css') }}"/>
{% endblock %}
{% block body %}

	<div class="content">
		<div class="container">
			<div class="bubbles">
				<span style="--i: 11"></span>
				<span style="--i: 12"></span>
				<span style="--i: 24"></span>
				<span style="--i: 10"></span>
				<span style="--i: 14"></span>
				<span style="--i: 23"></span>
				<span style="--i: 18"></span>
				<span style="--i: 16"></span>
				<span style="--i: 19"></span>
				<span style="--i: 18"></span>
				<span style="--i: 25"></span>
				<span style="--i: 26"></span>
				<span style="--i: 22"></span>
				<span style="--i: 21"></span>
				<span style="--i: 15"></span>
				<span style="--i: 13"></span>
				<span style="--i: 26"></span>
				<span style="--i: 28"></span>
				<span style="--i: 11"></span>
				<span style="--i: 12"></span>
				<span style="--i: 24"></span>
				<span style="--i: 10"></span>
				<span style="--i: 14"></span>
				<span style="--i: 23"></span>
				<span style="--i: 18"></span>
				<span style="--i: 16"></span>
				<span style="--i: 19"></span>
				<span style="--i: 18"></span>
				<span style="--i: 25"></span>
				<span style="--i: 26"></span>
				<span style="--i: 22"></span>
				<span style="--i: 21"></span>
				<span style="--i: 15"></span>
				<span style="--i: 13"></span>
				<span style="--i: 26"></span>
				<span style="--i: 28"></span>
				<span style="--i: 11"></span>
				<span style="--i: 12"></span>
				<span style="--i: 24"></span>
				<span style="--i: 10"></span>
				<span style="--i: 14"></span>
				<span style="--i: 23"></span>
				<span style="--i: 18"></span>
				<span style="--i: 16"></span>
				<span style="--i: 19"></span>
				<span style="--i: 18"></span>
				<span style="--i: 25"></span>
				<span style="--i: 26"></span>
				<span style="--i: 22"></span>
				<span style="--i: 21"></span>
				<span style="--i: 15"></span>
				<span style="--i: 13"></span>
				<span style="--i: 26"></span>
				<span style="--i: 28"></span>
			</div>
			<div class="row form-container p-3 transparent rowContainer" style="margin: 150px auto; background-color: white; border-radius: 5px">
				<h1>Réinitialisation du mot de passe</h1>
				<div class="col-md-6 p-3 transparent">
					{{ form_start(requestForm) }}
					{{ form_row(requestForm.email,{'attr': {'class': 'form-control custom-input', 'placeholder': 'Adresse Email'}}) }}
					<br/>
					<button type="submit" class="custom-button">Envoyer</button>
					{{ form_end(requestForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
