<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prestataire Complet</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('heart.ico') }}" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ asset('./styles/prestat.css') }}" />
  </head>
  <body>
    <div class="container-fluid">
      <div
        class="d-flex justify-content-center align-items-center search-container"
      >
        <div class="input-container">
          <input
            type="text"
            name="text"
            class="input"
            placeholder="Search something..."
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill=""
            viewBox="0 0 24 24"
            class="icon"
          >
            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              id="SVGRepo_tracerCarrier"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <rect fill="white" height="24" width="24"></rect>
              <path
                fill=""
                d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM9 11.5C9 10.1193 10.1193 9 11.5 9C12.8807 9 14 10.1193 14 11.5C14 12.8807 12.8807 14 11.5 14C10.1193 14 9 12.8807 9 11.5ZM11.5 7C9.01472 7 7 9.01472 7 11.5C7 13.9853 9.01472 16 11.5 16C12.3805 16 13.202 15.7471 13.8957 15.31L15.2929 16.7071C15.6834 17.0976 16.3166 17.0976 16.7071 16.7071C17.0976 16.3166 17.0976 15.6834 16.7071 15.2929L15.31 13.8957C15.7471 13.202 16 12.3805 16 11.5C16 9.01472 13.9853 7 11.5 7Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </g>
          </svg>
        </div>
      </div>

      <div class="liste_des_prestataires">
        <div class="row">
          {% for prestataire in listes_des_prestataires %}
          <div class="col-md-4" data-id-presta="{{ prestataire.id }}">
            <div
              class="card card-blur mt-3"
              data-tilt
              data-tilt-glare
              style="
                transform-style: preserve-3d;
                transform: perspective(1000px);
              "
            >
              <div
                class="card-background"
                style="
                  background-image: url(https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp);
                "
              ></div>
              <div class="view">
                <i
                  class="fa fa-eye app_mariage mb-4"
                  class="voir_app"
                  aria-hidden="true"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="popularité {{ prestataire.populChiffre }}"
                >
                </i>
                <span class="codepopulaire">{{
                  prestataire.populChiffre
                }}</span>
              </div>
              <div class="card-body">
                <h5 class="card-title text-white">{{ prestataire.nom }}</h5>
                <p
                  class="card-text text-white"
                  title="{{ prestataire.description }}"
                >
                  {{ prestataire.description|slice(0, 40) }}{% if
                  prestataire.description|length > 40 %}...{% endif %}
                </p>
                <div class="row price">
                  <p>{{prestataire.budget | number_format(2)}} Ar</p>
                </div>
                <input
                  hidden
                  id="id_prestataire"
                  value="{{ prestataire.id }}"
                />
                <div class="row rbutt">
                  <div class="col-12 text-center">
                    <a
                      href="/prestataire/budget/{{ prestataire.id }}"
                      id="commande_btn"
                      class="btn custom-button"
                      data-mdb-ripple-init
                    >
                      Commander
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"
      ></script>

      <script></script>

      <div
        class="d-flex justify-content-center align-items-center search-container"
      >
        <div class="custom-pagination">
          {{
            knp_pagination_render(
              listes_des_prestataires,
              "@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig"
            )
          }}
        </div>
      </div>

      <script src="{{ asset('./js/vanilla-tilt.js') }}"></script>
    </div>
  </body>
</html>
