{% extends 'base.html.twig'%}

{% set isSticky = true %}


{% block navbar %}

	<header>
		<!-- Intro settings -->
		<style>
			/* Default height for small devices */
			#intro-example {
				height: 800px;
				background-size: cover;
			}

			/* Height for devices larger than 992px */
			@media(min-width: 992px) {
				#intro-example {
					height: 800px;
				}
			}
		</style>

		<!-- Navbar -->
		<div class="navbar-fixed">
			<nav class="navbar navbar-expand-lg navbar_app">
				<div class="container-fluid">
					<button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fas fa-bars"></i>
					</button>
					<div
						class="collapse navbar-collapse" id="navbar_app navbarExample01">
						<!-- Left links -->
						<ul class="mb-2 navbar-nav me-auto mb-lg-0">
							<li class="nav-item">
								<a class="nav-link _app_mariage app_mariage_nom" href="">
									{% if nomHomme !="" and nomFemme !="" %}
										{{nomHomme | first}}
										<img style="width: 50px; height: 50px;" src="{{ asset('icons/heart.svg') }}" alt="form-svg"/>
										{{nomFemme | first}}
									{% else %}
										Anonyme
										<img style="width: 50px; height: 50px;" src="{{ asset('icons/heart.svg') }}" alt="form-svg"/>
										Anonyme

									{% endif %}
								</a>
							</li>
						</ul>
						<!-- Left links -->
					</div>
					<!-- Collapsible wrapper -->
					<div
						class="d-flex align-items-center nav-menu">

						<!-- Icon -->

						<a class="dropdown-item _app_mariage connexion_app_mariage liste_invites">
							<img style="width: 50px; height: 50px; cursor: pointer;" src="{{ asset('icons/users.svg') }}" alt="form-svg"/>
							<span>
								invité(e)
							</span>
						</a>
						<button class="custom-button presta-button">Prestataire</button>
						<img id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle img_svg_image" src="{{asset('icons/gear.svg')}}">

						<div class="settings">
							<div class="dropdown app_active_settings">
								<div class="dropdown-menu app_active_settings_items" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item link_app" href="/activity_info/{{id}}">Information personnelle
									</a>
									{% if id_presta !="" %}
										<a class="dropdown-item link_app" href="/prestataire/budget/{{id_presta}}">Mon prestataire</a>
									{% else %}
										<a class="dropdown-item link_app" href="#prestataire">Choisir l'un de prestataire plus suivis
										</a>
									{% endif %}
									<a class="dropdown-item link_app" href="/chargerInvites/{{id}}">Charger les listes des invité(e)s</a>
									<a class="dropdown-item link_app" href="/VoirPrestataire">Tous les prestataires</a>
									<a class="dropdown-item link_app" href="/deconnexion">Deconnexion</a>
								</div>
							</div>
						</div>
					</div>


				</div>
			</nav>

			<!-- Navbar -->
		</div>
		<!-- Background image -->
		<div id="intro-example" class="p-5 text-center bg-image" style="{% if photo_principal != "" %} background-image: url('/uploads/images/{{photo_principal}}'); {% else %}background-image: url({{ asset('./images/jeune-mariee.jpg') }}); {% endif %}">


			<div class="col d-flex justify-content-center align-items-center h-100">
				<div class="text-white app_mariage_wh">
					<div class="mx-auto row jrs-j">
						<h1 class="mb-4">
							{% if jourJ == 0 %}
								<span class="text-header">C'est la date de cérémonie !!</span>
								{%else%}J<span>{{jourJ}}</span>
								{%endif%}</h1>
						</div>
						<div class="row nameDiv">
							<div class="row titre_app_nom">
								<h1 class="">
									{% if nomHomme !="" %}
										<p class="styledName">
											{{nomHomme}}</p>
									{% else %}
										<p class="styledName">Anonyme</p>
									{% endif %}
									et
									{% if nomFemme !="" %}
										<p class="styledName">{{nomFemme}}</p>
									{% else %}
										<p class="styledName">Anonyme</p>
									{% endif %}
								</h1>
							</div>
						</div>
						<div class="row" style="margin-top: 170px; color: white; display: flex; justify-content: center; align-items: center;">
							<span class="styledName" style="font-size: 40px;">
								Le
								{% if dateCeremonie == ""  or lieuxCeremonie =="" %}
									<span style="font-size: 25px; color: #E30071">(pas encore de date)</span>
									à
									<span style="font-size: 25px; color: #E30071">(pas encore de lieu)</span>


								{% else %}
									<span style="font-size: 25px; color: #E30071">{{dateCeremonie}}</span>
									à
									<span style="font-size: 25px; color: #E30071">{{lieuxCeremonie}}</span>

								{% endif %}


							</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Background image -->
		</header>
	{% endblock %}
	{% block stylesheets %}

		<link rel="stylesheet" href="{{ asset('./styles/utils.css') }}"/>
		<link rel="stylesheet" href="{{asset('./styles/liste.css')}}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">

	{% endblock %}
	{% block javascripts %}
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="jquery.add-input-area.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="{{asset('./js/active.js')}}">
		<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


	{% endblock %}

	{% block body %}
		<section class="popup">
			<div class="popup__content">
				<button type="button" class="close" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div>
					<span></span>
					<span></span>
				</divid="pop_up">
				<h3 style="color: #F43B8D;">Vous devez remplisser votre Budget avant de commencer...!</h3>

				<div class="mb-3 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Votre budget :
						</span>
					</div>
					<input type="hidden" id="id_activite" value="{{id}}">
					<input type="text" id="budget_initial" class="form-control montant custom-input" placeholder="10,000,000" aria-label="budget" aria-describedby="basic-addon1" value="{{budgetInitial}}">
					<div class="input-group-append">
						<span class="input-group-text" id="basic-addon2">Ariary</span>
					</div>
				</div>

				<h4 style="color: #F65A9F;">Budget minimum : 10.000.000 Ar</h4>

			</section>


			<div class="row week-app-mariage">
				<div class="row">
					<div class="week-date col-md-4">
						<h1>Le week-end du mariage</h1>
						<h5>{{dateCeremonie}}</h5>
					</div>
					<div class="col-md-4 app-alliance">
						<img style="width: 150px; height: 150px;" src="{{ asset('icons/wedding-rings-3.svg') }}" alt="form-svg"/>

					</div>
					<div class="col-md-4 week_comment">
						<h4 class="h_titre">
							Nous avons le plaisir de vous inviter à notre mariage.
						</h4>
						<h6 class="l_titre">
							Paragraphe. Cliquez ici pour le modifier et ajouter votre propre texte. C'est l'espace idéal pour raconter une histoire et vous présenter à vos visiteurs.
						</h6>
					</div>
				</div>
			</div>


			{% if photo_ceremonie != "" and photo_reception != "" %}
				<div class="row ceremonie-lieu">
					<div class="row justify-content-center">
						<div class="col-md-6 cardApp">
							<div class="text-center cardApp_ceremonie">
								<img src="/uploads/images/{{photo_ceremonie}}" alt="Ceremonie" class="img-fluid ceremonie-img">
								<h1>Ceremonie</h1>
								<p>contenu</p>
							</div>
						</div>
						<div class="col-md-6 cardApp">
							<div class="text-center cardApp_reception">
								<img src="/uploads/images/{{photo_reception}}" alt="Reception" class="img-fluid reception-img">
								<h1>Reception</h1>
								<p>contenu</p>
							</div>
						</div>
					</div>
				</div>
			{% endif %}


			<div class="prestataire_mariage_app" id="prestataire">
				<h1 class="liste_prestataire_plus_suivre">Les 5 prestataires plus populaires
					<a href="{{ path('prestataireComplet')}}" style="color: #E30071; text-decoration: none;">voir plus</a>
				</h1>
				<div class="row">
					{% for  presta in pres %}
						<div class="mt-4 col-md-4 card_prestataire_mariage_app">
							<div class="card card_app_mariage">
								<img class="card-img-top img_card_app" src="/uploads/images/{{presta.photo}}" alt="Card image">
								<div class="card-body">
									<h4 class="card-title">{{presta.nom}}</h4>
									<p class="card-text">{{presta.description}}</p>
									<h1 class="price_h1">{{presta.budget | number_format }}
										Ar</h1>
									<a href="{{presta.id}}" class="btn btn-primary btn_commande_app">commander</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="invites_mariage_app" id="liste_invites">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Nom et Prenom</th>
							<th scope="col">Numero telephone</th>
							<th scope="col">Status</th>
							<th scope="col">Observation</th>
						</tr>
					</thead>
					<tbody>
						{% for liste_invite in liste_invites %}
							<tr>
								<td>{{ liste_invite[0] is defined ? liste_invite[0] : 'Non renseigné' }}</td>
								<td>{{ liste_invite[1] is defined ? liste_invite[1] : 'Non renseigné' }}</td>
								<td></td>
								<td>
									<a href="#" class="custom-button">Appeler/sms</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="footer_wedding">
				<div class="row">
					<div class="col-md-4">
						<div class="hf_app_mariage col">

							{% if nomHomme !="" and nomFemme !="" %}
								<span class="styledName" style="margin-top: 50px">{{nomHomme | first}}</span>

								<img style="width: 50px; height: 50px;" src="{{ asset('icons/and.svg') }}" alt="form-svg"/>

								<span class="styledName" style="margin-top: 50px">{{nomFemme | first}}</span>
							{% else %}
								<span class="styledName" style="margin-top: 50px">Anonyme</span>

								<img style="width: 50px; height: 50px; margin: 40px" src="{{ asset('icons/and.svg') }}" alt="form-svg"/>

								<span class="styledName" style="margin-top: 50px">Anonyme</span>

							{% endif %}
						</h1>
					</div>
				</div>

				<div class="col-md-4">
					<h1 class="h1_contact">Nous appeler
					</h1>
					<h5>{{nomHomme}}
						:
						{{phoneH}}</h5>
					<h5>{{nomFemme}}
						:
						{{phoneF}}</h5>
				</div>
				<div class="col-md-4">
					<h1 class="menu_app">Menu</h1>
					<ul class="ul_menu_app">
						<a href="" class="ancre_app_menu">
							<li>Listes des invité(e)s
							</li>
						</a>
						<a href="" class="ancre_app_menu">
							<li>Mariage</li>
						</a>
						<a href="" class="ancre_app_menu">
							<li>Ceremonie</li>
						</a>
						<a href="" class="ancre_app_menu">
							<li>Prestataire</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<style type="text/css">
			.navbarClass {
				position: fixed;
				width: 100%;
				background-color: aquamarine;
				z-index: 1;
			}

			.navbar_appClass {
				background-color: rgb(26, 21, 0) !important;
			}
			.app_active_settingsClass {
				background-color: rgb(26, 21, 0) !important;
			}

			.app_image_svg {
				background-color: aquamarine;
				color: bisque;
				border-radius: 50px;
				border: 2px solid deeppink;
			}
		</style>

		<script type="text/javascript">

			const listeMariage = document.querySelector('.liste_invites');
const prestataire = document.querySelector('.prestataire')
const app = document.querySelector('.prestataire_mariage_app')
listeMariage.addEventListener('click', function () {
window.scrollTo(0, 3000)

});

prestataire.addEventListener('click', function () {
window.scrollTo(0, 2000)
})


function btnReveal() {
if (window.scrollY > 965) {
$('.navbar-fixed').addClass('navbarClass')
$('.navbar_app').addClass('navbar_appClass')
$('.settings').addClass('app_active_settingsClass')
$('.img_svg_image').addClass('app_image_svg')
} else {
$('.navbar-fixed').removeClass('navbarClass')
$('.navbar_app').removeClass('navbar_appClass')
$('.settings').removeClass('app_active_settingsClass')
$('.img_svg_image').removeClass('app_image_svg')

}
}

window.addEventListener('scroll', btnReveal);
		</script>


		<script type="text/javascript">
			$(document).ready(function () { // Function to show the popup
function affiche() {
$(".popup").fadeIn(500);
}

// Log the initial budget to the console
console.log("{{ budgetInitial }}");

// Close the popup when the close button is clicked
$(".close").click(function () {
$(".popup").fadeOut(500);
});

// Close the popup when clicking outside of it
$(document).mouseup(function (e) {
var container = $(".popup__content");
if (! container.is(e.target) && container.has(e.target).length === 0) {
$(".popup").fadeOut(500);
}
});

// Function to update the budget amount
function montant() {
var id = $("#id_activite").val();
var montantValue = $('.montant').val();

// Validation to ensure the user enters only digits
if (!/^\d+$/.test(montantValue)) {
Swal.fire({icon: "error", title: "Erreur de saisie", text: "Veuillez entrer un montant valide (chiffres uniquement).", showConfirmButton: true});
return; // Stop function execution if validation fails
}

let data = {
montant: montantValue
};

$.ajax({
url: "/montant/" + id,
method: "PUT",
data: data,
success: function (response) {
$(".popup").fadeOut(300, function () {
Swal.fire({icon: "success", title: "Votre budget a été enregistré avec succès !", showConfirmButton: false, timer: 1700});
});
},
error: function (xhr, status, error) {
console.error("Erreur AJAX:", error);
Swal.fire({icon: "error", title: "Erreur", text: "Une erreur s'est produite lors de l'enregistrement. Veuillez réessayer.", showConfirmButton: true});
}
});
}

// Call the function when the field changes
$(".montant").change(function () {
montant();
});

// If the initial budget is empty, display the popup
if ("{{ budgetInitial }}" === "") {
affiche();
}
});
		</script>

	{% endblock %}
	{% block footer %}{% endblock %}
140 m4a   audio only      2 │    3.71MiB  129k https │ audio only          mp4a.40.2  129k 44k [en] medium, m4a_dash
