{% extends 'base.html.twig'%}
{% set active_link = 'home' %}
{% set isSticky = true %}

{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags("app") }}
	<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ asset('./styles/personal.css') }}"/>
	<link rel="stylesheet" href="{{ asset('./styles/hearts.css') }}"/>
	<link rel="stylesheet" href="{{ asset('./styles/info.css') }}"/>
	<link rel="stylesheet" href="{{ asset('./styles/nav.css') }}"/>
	<link rel="stylesheet" href="{{ asset('./styles/footer.css') }}"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>

{% endblock %}

{% block body %}

	<div class="activity-form formulaire">
		<div class="hearts"></div>

		<div class="form-row-app">
			<a class="fa-regular fa-circle-xmark h1 xmark" href="/activite/"></a>
			<div class="row">
				<div class="col-md-6">
					{{ form_start(form) }}
					{{ form_row(form.NomH, {'attr': {'class': 'form-control custom-input', 'placeholder': 'Nom d\'utilisateur'
        }})}}
					{{ form_row(form.NomF, {'attr': {'class': 'form-control custom-input', 'placeholder': 'Nom d\'utilisateur'
        }})}}
					{{ form_row(form.DateCeremonie ,{'id':'datepicker', 'attr': {'class': 'form-control custom-input', 'placeholder': 'Nom d\'utilisateur'
        }}) }}
					{{ form_row(form.LieuxCeremonie, {'attr': {'class': 'form-control custom-input', 'placeholder': 'Nom d\'utilisateur'
        }}) }}
					{{ form_row(form.LieuxDeReception, {'attr': {'class': 'form-control custom-input', 'placeholder': 'Nom d\'utilisateur'
        }}) }}
					{{ form_row(form.BudgetInitial, {'attr': {'class': 'form-control custom-input', 'placeholder': 'Nom d\'utilisateur'
        }}) }}

				</div>
				<div class="col-md-6">
					{{ form_row(form.PhotoPrincipal) }}
					<img src="/uploads/images/{{photo_principal}}">
					{{ form_row(form.PhotoReception) }}
					<img src="/uploads/images/{{photo_reception}}">
					{{ form_row(form.PhotoCeremonie) }}
					<img src="/uploads/images/{{photo_ceremonie}}">
					{{ form_row(form.FichierCsv)}}
				</div>
			</div>
			<div class="mx-auto row d-flex justify-content-center">
				<button class="mt-5 custom-button">Enregistrer</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

	<script>
		const xmark = document.querySelector(".fa-regular.fa-circle-xmark.h2");

xmark.addEventListener("mouseover", function () {
xmark.classList.remove("fa-regular");
xmark.classList.add("fa-solid");
});

xmark.addEventListener("mouseout", function () {
xmark.classList.remove("fa-solid");
xmark.classList.add("fa-regular");
});
	</script>


	<script>
		$(document).ready(function () {
$(function () {
$("#datepicker").datepicker({dateFormat: "yy-mm-dd"});
});
})
	</script>


{% endblock %}
{% block footer %}{% endblock %}
